
body{
    background-color: #5cd7e7;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

footer{
    background-color: #5cd7e7;
    padding-top: 20px;
    height: 60px;
    margin-top: 30px;

}

.carousel-caption h5{
    font-size: 80px;
    color: #5cd7e7;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 50px;
    height: 200px;

}

.conteudo{
    display: flex;
    padding: 20px;

}

header{
    background-color: #5cd7e7;
    height: 150px;
    margin-bottom: 30px;

}

.texto{
    padding: 20px;
}

.welcome{
    text-shadow: 1px 1px 1px black;
}


